
<!DOCTYPE html>
<html>
<head>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
  <div class="jumbotron text-center">
    <h1 class="display-3">Thank You!</h1>
    <p class="lead"><strong>Please check your email</strong> we will contact you soon.</p>
    <hr>
    <p>
      {% url 'contact' as url%}
      Having trouble? <a href="{{url}}">Contact us</a>
    </p>
    <p class="lead">
      {% url 'home' as url %}
      <a class="btn btn-primary btn-sm" href="{{url}}" role="button">Continue to homepage</a>
    </p>
  </div>


  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/js/bootstrap.min.js"></script>


</body>
</html>
